# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild

bin/
generated/
build/
